[submodule "plugins/graph"]
	path = plugins/graph
	url = https://github.com/xyzqm/graph.git
[submodule "plugins/backlinks"]
	path = plugins/backlinks
	url = https://github.com/xyzqm/backlinks.git
[submodule "plugins/bases-page"]
	path = plugins/bases-page
	url = https://github.com/xyzqm/bases-page.git
[submodule "plugins/explorer"]
	path = plugins/explorer
	url = https://github.com/xyzqm/explorer.git
