img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.theme-dark img[alt$="invert"] {
  filter: invert(1);
}

img[alt$="bg-white"] {
  background-color: white;
}

[alt~="vid-20"] video {
  width: 20%;
}

[alt~="vid-30"] video {
  width: 30%;
}

[alt~="vid-40"] video {
  width: 40%;
}
